.idea/



# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.bak
*.swp

# Jupyter Notebooks
.ipynb_checkpoints

# VSCode
.vscode/

# Docker
*.pid
*.sock
pgdata/
*.tar
*.gz

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.temp
*.~*

# Arquivos de configuração pessoal
.env
.env.local
.env.*.local

# Arquivos de saída
*.csv
*.xlsx
*.json

# Git
.gitignore

#arquivo .env
.env

./dbt/logs
./dbt/dbt

# Ignorar arquivos e pastas gerados pelo Airflow
airflow/logs/
airflow/plugins/
__pycache__/
*.pyc
*.pyo
*.log
*.db
.env
*.sqlite
*.swp
*.bak
*.tmp
*.pid
*.sock

